<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/static/Project1.css"> 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>

<body>
    <div class="w3-navbar w3-black">
      <div class="w3-btn w3-xlarge w3-wide">
        <a href="#">Rex</a>
      </div>
      <div class="w3-btn w3-round w3-border w3-right">
        <a href="#">Sign-In</a>
      </div>
    </div>
    <div class="contents">

      <div class="w3-display-container">
        <h2 style="width: fit-content;">STUDENT CREDIT SYSTEM</h2>
        <img src="/static/The_python_week_logo.png" alt="The Python Week" class="w3-image w3-right">
      </div>

      <hr style="margin-left:50px;width:75%;height:0.0001px;border-width:0;background-color:gray">
    </div>
    {%block content%}{%endblock content%}
</body>

</html>
