<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/static/Project1.css"> 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>

<body>
    <div class="w3-navbar w3-black">
      <div class="w3-btn w3-xlarge w3-wide">
        <a href="#">Rex</a>
      </div>
      <div class="w3-btn w3-round w3-border w3-right">
        <a href="{{url_for('signIn')}}">Sign-In</a>
      </div>
    </div>
    <div class="contents">

      <div class="w3-display-container">
        <h2 style="width: fit-content;">STUDENT CREDIT SYSTEM</h2>
        <img src="/static/The_python_week_logo.png" alt="The Python Week" class="w3-image w3-right">
      </div>

      <hr style="margin-left:50px;width:75%;height:0.0001px;border-width:0;background-color:gray">
      <div class="w3-mobile w3-third w3-animate-bottom">
        <p class="paragraph_1" id = "paragraph_1">
          NEP provides opportunities to students to take breaks in their studies. Specifically, during undergraduate studies NEP requires that students be certified after the completion of each year of study so that students can take a break from studies if necessary, or explore the option of continuing education at a different institute. Hence a student gets a certificate after one year of study, a diploma after two years, a degree after three years and honors after four years.  This  necessities the creation of an Academic Bank of Credit (ABC) which can securely store the progress of each student, and make them available when required.

          Development of Academic Bank of Credit to securely store the status of students’ progress which enables access to the student himself, parents and the institutions where the student may potentially apply for admission in future (in India only). If the student is applying abroad , a central board like AICTE can certify.
        </p>
    </div>

      <div class="w3-container w3-third w3-border w3-round-xlarge w3-padding-16 w3-mobile w3-right  w3-light-gray">
        <p class="Heading">Register</p>
        <form action="", method="POST" id="regForm">

          <input  type="text" id="name" name="name" placeholder="Name">
      

          <input type="text" id="email_address" name="email_address" placeholder="E-mail address">
      

          <input type="text" id="institution_name" name="institution_name" placeholder="Institute currently studying">
          

          <input type="text" id="student_id_number" name="student_id_number" placeholder="Student ID No.">
          

          <input type="password" id="Psaaword" name="Password" placeholder="Password">

          <input type="password" id="Psaaword_confirm" name="ConfirmPassword" placeholder="Confirm Password">

          
        </form>
        <input type="submit" class="w3-button w3-green w3-round-xlarge w3-border w3-border-black" value="Submit" formmethod="POST" form="regForm" placeholder="Register">
      </div>
    </div>
  





</body>

</html>
