<!DOCTYPE html>
<html lang="en"><form action=""><head>
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rex</title><link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>
</head>
<body><header>dy>
    <nav class="w3-bar w3-black">
        <a href="" class="w3-btn w3-wide">
            <h3>Rex</h3>
        </a>
        <div class="w3-display-container w3-right w3-padding" >
            <a href="/signUp" class="w3-btn w3-border w3-round"><b>STUDENT NAME:&nbsp;<input type="text"></b></a>

        </div>

    </nav> </header>
    <hr>
    <h1> <nav class="w3-bar w3-black">
        <a href="" class="w3-btn w3-wide">
            <h3>DASHBOARD</h3>
        </a>
        

        </div></nav><hr></h1>
    <h2>COLLEGE NAME : <input type="text"></h2>

    <h2>ACADEMIC :<input type="number"></h2>
    <h2>CULTURAL :<input type="number"></h2>
    <h2>SOCIAL :<input type="number"></h2>

<hr><hr>
<h1><B>YEAR-WISE RECORD</B></h1>
<hr>
<table border=1 cellspacing="0">
<tr><th><B>YEAR</B></th>

<TH>TITLE</TH>
<TH>ACADEMIC</TH>
<TH>CULTURAL</TH>
<TH>SOCIAL</TH>

</tr>
<TR><TD><input type="DATE"></TD>
<td><input type="text">
    <td><input type="number">
        <td><input type="number"></td>
        <td><input type="number"></td>
</TR>
<TR><TD><input type="DATE"></TD>
    <td><input type="text">
        <td><input type="number">
            <td><input type="number"></td>
            <td><input type="number"></td>
    </TR><TR><TD><input type="DATE"></TD>
        <td><input type="text">
            <td><input type="number">
                <td><input type="number"></td>
                <td><input type="number"></td>
        </TR><TR><TD><input type="DATE"></TD>
            <td><input type="text">
                <td><input type="number">
                    <td><input type="number"></td>
                    <td><input type="number"></td>
            </TR><TR><TD><input type="DATE"></TD>
                <td><input type="text">
                    <td><input type="number">
                        <td><input type="number"></td>
                        <td><input type="number"></td>
                </TR><TR><TD><input type="DATE"></TD>
                    <td><input type="text">
                        <td><input type="number">
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                    </TR><TR><TD><input type="DATE"></TD>
                        <td><input type="text">
                            <td><input type="number">
                                <td><input type="number"></td>
                                <td><input type="number"></td>
                        </TR><TR><TD><input type="DATE"></TD>
                            <td><input type="text">
                                <td><input type="number">
                                    <td><input type="number"></td>
                                    <td><input type="number"></td>
                            </TR><TR><TD><input type="DATE"></TD>
                                <td><input type="text">
                                    <td><input type="number">
                                        <td><input type="number"></td>
                                        <td><input type="number"></td>
                                </TR><TR><TD><input type="DATE"></TD>
                                    <td><input type="text">
                                        <td><input type="number">
                                            <td><input type="number"></td>
                                            <td><input type="number"></td>
                                    </TR><TR><TD><input type="DATE"></TD>
                                        <td><input type="text">
                                            <td><input type="number">
                                                <td><input type="number"></td>
                                                <td><input type="number"></td>
                                        </TR><TR><TD><input type="DATE"></TD>
                                            <td><input type="text">
                                                <td><input type="number">
                                                    <td><input type="number"></td>
                                                    <td><input type="number"></td>
                                            </TR><TR><TD><input type="DATE"></TD>
                                                <td><input type="text">
                                                    <td><input type="number">
                                                        <td><input type="number"></td>
                                                        <td><input type="number"></td>
                                                </TR><TR><TD><input type="DATE"></TD>
                                                    <td><input type="text">
                                                        <td><input type="number">
                                                            <td><input type="number"></td>
                                                            <td><input type="number"></td>
                                                    </TR><TR><TD><input type="DATE"></TD>
                                                        <td><input type="text">
                                                            <td><input type="number">
                                                                <td><input type="number"></td>
                                                                <td><input type="number"></td>
                                                        </TR><TR><TD><input type="DATE"></TD>
                                                            <td><input type="text">
                                                                <td><input type="number">
                                                                    <td><input type="number"></td>
                                                                    <td><input type="number"></td>
                                                            </TR><TR><TD><input type="DATE"></TD>
                                                                <td><input type="text">
                                                                    <td><input type="number">
                                                                        <td><input type="number"></td>
                                                                        <td><input type="number"></td>
                                                                </TR><TR><TD><input type="DATE"></TD>
                                                                    <td><input type="text">
                                                                        <td><input type="number">
                                                                            <td><input type="number"></td>
                                                                            <td><input type="number"></td>
                                                                    </TR><TR><TD><input type="DATE"></TD>
                                                                        <td><input type="text">
                                                                            <td><input type="number">
                                                                                <td><input type="number"></td>
                                                                                <td><input type="number"></td>
                                                                        </TR><TR><TD><input type="DATE"></TD>
                                                                            <td><input type="text">
                                                                                <td><input type="number">
                                                                                    <td><input type="number"></td>
                                                                                    <td><input type="number"></td>
                                                                            </TR><TR><TD><input type="DATE"></TD>
                                                                                <td><input type="text">
                                                                                    <td><input type="number">
                                                                                        <td><input type="number"></td>
                                                                                        <td><input type="number"></td>
                                                                                </TR><TR><TD><input type="DATE"></TD>
                                                                                    <td><input type="text">
                                                                                        <td><input type="number">
                                                                                            <td><input type="number"></td>
                                                                                            <td><input type="number"></td>
                                                                                    </TR>

</table>
    <br>
<br><br><br><hr><input type="submit">
</body></form>
</html>