<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="../static/Student_dashboard.css"> 
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <link rel="stylesheet" href="Project1.html">
    </head>
    <body >
      {%if user and id%}
        <div class="w3-navbar w3-black">
            <div class="w3-btn w3-xlarge w3-wide">
              <a href="#">Rex</a>
            </div>
            <div class="w3-btn w3-right w3-xlarge w3-wide">
                {{user.name}}
            </div>
        </div>


            <h1>
                DASHBOARD
            </h1>

            <img src="https://image.freepik.com/free-vector/t-rex-mascot-logo-esport-gaming_92675-421.jpg" width="12%" alt="" class="w3-image"style="float: right;padding: 0px;">

            <hr width="100%" class="w3-black">
            <div class="w3-left w3-xlarge">
                <div id ="College_name">
                    {{user.institute}}
                </div>
                <div style = "white-space: nowrap;"id ="Student_name">
                    {{user.student_id}}
                </div>
            </div>



        <div class="Student_points">
        <div class="w3-row-padding w3-margin-bottom w3-wide">
            <div class="w3-quarter">
              <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>

                <h4>Academic</h4>
                <div class="w3-clear"></div>
                <div class="w3-right">
                    <h3>{{user.pAcademic}}</h3>
                </div>

              </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                  <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
  
                  <h4>Cultural</h4>
                  <div class="w3-clear"></div>
                  <div class="w3-right">
                      <h3>{{user.pCultural}}</h3>
                    </div>
  
                </div>
              </div>
              <div class="w3-quarter">
                <div class="w3-container w3-green w3-padding-16">
                  <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
  
                  <h4>Social</h4>
                  <div class="w3-clear"></div>
                  <div class="w3-right">
                      <h3>{{user.pSocial}}</h3>
                    </div>
  
                </div>
              </div>
            </div>
        </div>

        <hr>
          To upload your certificate, cleck here -
        <form action = "{{url_for('addRecord')}}" method="GET" id="addForm">
          <input type="hidden" name="id" value="{{user.id}}">
        </form>
        <input  type="submit" form="addForm" formmethod="GET" value="Add Record" style="font-size: large; border-radius: 30px; width: 150px;background-color: rgb(218, 253, 60); margin: 20px; margin-top: 10px; cursor: pointer;">

        <hr class="w3-gray ">

        <div class="w3-container">
            <div style="font-weight: bold; font-size: 18px;" >
            Year-wise Records
            </div>

            <table class="w3-table">
                <tr>
                  <th>Year</th>
                  <th>Date</th>
                  <th>Course Title</th>
                  <th>Academic</th>
                  <th>Cultural</th>
                  <th>Social</th>
                </tr>

                <tr>
                  <td>2020</td>
                  <td>year</td>
                  <td>y</td>
                  <td>y</td>
                  <td>y</td>
                  <td>y</td>
                </tr>

                <tr>
                  <td>2019</td>
                  <td> x</td>
                  <td> x</td>
                  <td> x</td>
                  <td> x</td>
                  <td> x</td>
                </tr>
              </table>
        </div>
        {%else%}
        Please Sign In
        {%endif%}
    </body>
</html>
