{%extends 'layout.html'%}

{%block nav%}
    <h3>Name</h3>
{%endblock nav%}


{% block content %}
    <h1>Records</h1>
    <hr>
    <div class="w3-display-container w3-center">
        <h6>Organistaion : {{rec.organisation}}</h6>
        <h6>Points Earned : {{rec.category}} +1</h6>
        <p>Certificate : </p>
        <img src="{{rec.certificate_uri}}">
        <hr>
        <p>Text Extracted : </p>
        <p>{{rec.certificate_text}}</p>
        <a href="{{url_for('dashboard')}}" class="w3-btn w3-round w3-green">Done</a>
    </div>
{% endblock content %}