{%extends 'layout.html'%}

{%block nav%}
    <h3>{{rec.User.name}}</h3>
{%endblock nav%}


{% block content %}
    <h1>Records</h1>
    <hr>
    <div class="w3-display-container w3-center">
        <h6>Organistaion : {{rec.organistaion}}</h6>
        <h6>Points Earned : {{rec.category}} +1</h6>
        <p>Certificate : </p>
        <img src="{{rec.certificate_uri}}" class="w3-image" >
        <hr>
        <p>Text Extracted : </p>
        <p>{{rec.certificate_text}}</p>
        <a href="{{url_for('dashboard', id=rec.User.id)}}" class="w3-btn w3-round w3-green">Done</a>
    </div>
{% endblock content %}